<h1 align="center"> <img src="https://www.hopelearning.net/wp-content/uploads/2020/09/LogoNew.webp" alt="Hope AI" class="bg-primary" width="110px"> &ensp; Hope Artificial Intelligence</h1>

<h2 align="center"> Inferential Data Analysis </h2>

In [ ]:
import pandas as pd
import scipy.stats as stats
import seaborn as sns
from matplotlib import pyplot
from scipy.stats import norm

In [ ]:
dataset = pd.read_csv("Placement.csv")

In [ ]:
dataset

#### 1) Replace the NaN values with correct value.

In [ ]:
dataset.isna().sum()

In [ ]:
dataset["salary"].fillna(0,inplace=True)

In [ ]:
dataset.isna().sum()

#### 2) How many of them are not placed?

In [ ]:
Not_Placed = dataset[dataset['status']=="Not Placed"]
No_of_Not_Placed = len(Not_Placed.index)
print(No_of_Not_Placed, "Students are Not Placed")

#### 3) Find the reason for non placement from the dataset?

In [ ]:
quan = [col for col in dataset.columns if dataset[col].dtype != 'O']
dataset[quan].corr()

<b> Since, SSC, HSC and Degree marks are highly correllated with salary, they maybe the reason for the placement of a candidate </b>

In [ ]:
below_avg_ssc = 0
below_avg_hsc = 0
below_avg_degree = 0

for index, row in dataset.iterrows():
    ssc_p = row["ssc_p"]
    hsc_p = row["hsc_p"]
    degree_p = row["degree_p"]
    status = row["status"]
    
    if ssc_p <= 57 and status == "Not Placed":
        below_avg_ssc += 1
    elif hsc_p <= 58 and status == "Not Placed":
        below_avg_hsc += 1
    elif degree_p <= 69 and status == "Not Placed":
        below_avg_degree += 1

if below_avg_ssc > below_avg_hsc > below_avg_degree:
    print("Those who scored less in SSC and HSC are not placed")
elif below_avg_ssc > below_avg_degree > below_avg_hsc:
    print("Those who scored less in SSC and degree are not placed")
elif below_avg_hsc > below_avg_degree > below_avg_ssc:
    print("Those who scored less in HSC and degree are not placed")
elif below_avg_hsc > below_avg_ssc > below_avg_degree:
    print("Those who scored less in HSC and SSC are not placed")
elif below_avg_degree > below_avg_ssc > below_avg_hsc:
    print("Those who scored less in degree and SSC are not placed")
elif below_avg_degree > below_avg_hsc > below_avg_ssc:
    print("Those who scored less in degree and HSC are not placed")

#### 4) What kind of relation between salary and mba_p

In [ ]:
quan = [col for col in dataset.columns if dataset[col].dtype != 'O']

In [ ]:
dataset[quan].corr()

In [ ]:
# Salary and MBA_p has low Degree Positive Correlation with a value of 0.13 which is less than 0.54

#### 5) Which specialization is getting minimum salary?

In [ ]:
Mkt_HR = dataset[dataset['specialisation']=="Mkt&HR"]['salary']
Mkt_Fin = dataset[dataset['specialisation']=="Mkt&Fin"]['salary']

Mkt_HR_Sal = Mkt_HR.mean()
Mkt_Fin_Sal = Mkt_Fin.mean()

if(Mkt_HR_Sal < Mkt_Fin_Sal):
    difference = Mkt_Fin_Sal - Mkt_HR_Sal
    print("Marketing and Finance gets higher salary than Marketing and HR with ₹",difference)
else:
    difference = Mkt_HR_Sal - Mkt_Fin_Sal
    print("Marketing and HR gets higher salary than Marketing and Finance with ₹",difference)

#### 6) How many of them getting above 500000 salary?

In [ ]:
list = 0
for sal in dataset['salary']:
    if (sal < 500000):
        list+=1

print(list,"Of the Placed students getting the salary above 500000")

#### 7) Test the Analysis of Variance between etest_p and mba_p at signifance level 5%.(Make decision using Hypothesis Testing)

In [ ]:
stats.f_oneway(dataset['etest_p'],dataset['mba_p'])
print('There is a Significant Differeance between Enterance test and MBA Pass mark')

#### 8) Test the similarity between the degree_t(Sci&Tech) and specialisation(Mkt&HR) with respect to salary  at significance level of 5%.(Make decision using Hypothesis Testing)

In [ ]:
Sci_Tech = dataset[dataset['degree_t']=="Sci&Tech"]['salary']
Mkt_HR = dataset[dataset['specialisation']=="Mkt&HR"]['salary']

print(stats.ttest_ind(Sci_Tech, Mkt_HR))

print("Accept Alternate Hypothesis since p value is less than 0.05. Threfore, there is a similarity between the degree_t(Sci&Tech) and specialisation(Mkt&HR) with respect to salary")

In [ ]:
import warnings
warnings.filterwarnings("ignore")

#### 9) Convert the normal distribution to standard normal distribution for salary column

In [ ]:
def stdNBgraph(dataset):
        # Coverted to standard Normal Distribution
    mean=dataset.mean()
    std=dataset.std()

    values=[i for i in dataset]

    z_score=[((j-mean)/std) for j in values]

    sns.distplot(z_score,kde=True)

    sum(z_score)/len(z_score)
    #z_score.std()

stdNBgraph(dataset["salary"])

####  10) What is the probability Density Function of the salary range from 700000 to 900000?

In [ ]:
def get_pdf_probability(dataset,startrange,endrange):
    ax = sns.distplot(dataset,kde=True,kde_kws={'color':'blue'},color='Green')
    pyplot.axvline(startrange,color='Red')
    pyplot.axvline(endrange,color='Red')
    # generate a sample
    sample = dataset
    # calculate parameters
    sample_mean =sample.mean()
    sample_std = sample.std()
    print('Mean=%.3f, Standard Deviation=%.3f' % (sample_mean, sample_std))
    # define the distribution
    dist = norm(sample_mean, sample_std)
    
    # sample probabilities for a range of outcomes
    values = [value for value in range(startrange, endrange)]
    probabilities = [dist.pdf(value) for value in values]    
    prob=sum(probabilities)
    print("The area between range({},{}):{}".format(startrange,endrange,sum(probabilities)))
    return prob

get_pdf_probability(dataset["salary"],700000,900000)

#### 11) Test the similarity between the degree_t(Sci&Tech)with respect to etest_p and mba_p at significance level of 5%.(Make decision using Hypothesis Testing)

In [ ]:
Etest = dataset[dataset['degree_t']=="Sci&Tech"]['etest_p']
MBA = dataset[dataset['degree_t']=="Sci&Tech"]['mba_p']

print(stats.ttest_ind(Etest, MBA))

print("Accept Null Hypothesis since p value is Greater than 0.05. Threfore, there is a significant Difference between the degree_t(Sci&Tech)with respect to etest_p and mba_p at significance level of 5%")

#### 12) Which parameter is highly correlated with salary?

In [ ]:
dataset[quan].corr()

In [ ]:
# SSC_P is Higly correlated with salary with 53%

#### 13) plot  any useful graph and explain it.

In [ ]:
sns.pairplot(dataset)

<img src="https://www.banish.in/bio.jpg" alt="Banish J" class="bg-primary">

##### <center> Prepared by [Banish J](www.banish.in) Mentored by [Ramisha Rani Mam](www.hopelearning.net) <center>